
.span{
  margin-left: 5rem;
 
}

.san{
  margin-left: 3rem;
 
}

.dropdown {
  position:relative;
  z-index: 10;
  width: 200px;
  border: 1px solid #666;
  background: rgb(24, 23, 23);
}



.li{
  text-decoration: none;
  
}

.dropdown__text {
 color: rgb(24, 23, 23);
 font-size: 1.3rem;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 9px;
 text-align: left;
cursor: pointer;
height: auto;
background-color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dropdown.active .dropdown__text:after {
margin-top:1px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);

}

.dropdown__items {
 position: relative;
visibility: hidden;
opacity: 0;
color: white;
 max-height: 0px;
 transition: max-height 0.6s ease;
 font-family: 'Montserrat', sans-serif;
}

.dropdown.active .dropdown__items {
 visibility: visible;
  border-top: 1px solid #666;
height: auto;
 max-height: 300px;
  opacity: 1;
 transition: max-height 0.7s, opacity 3s, visibility 4s ease;
}

.dropdown__item {
  cursor: pointer;
 padding: 10px ;
 padding-left:5px;
 text-align: left;
 list-style-type: none;
 font-family: 'Montserrat', sans-serif;
 color: rgb(143, 128, 128);
 font-size: 1.2rem;
}

.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #666;

}



.dropdown__item:hover {
color: white;
 background: rgb(80, 79, 79);
 width: 100%;
 margin: auto;
 padding-right: 2px;
}


@media screen and (max-width: 784px){
  
  .dropdown {
    position:relative;
    z-index: 10;
    width: 170px;
    border: 1px solid black;
    background: rgb(24, 23, 23);
  
  }
  
.span{
  margin-left: 3rem;
 
}

.san{
  margin-left: 2rem;
 
}

.dropdown__item {
  cursor: pointer;
 padding: 10px ;
 padding-left:1px;
 text-align: left;
 list-style-type: none;
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 1rem;
}

  }
  


@media screen and (max-width: 500px){
  
  .dropdown {
    position:relative;
    z-index: 10;
    width: 130px;
    border: 1px solid black;
    background: rgb(24, 23, 23);
   margin-left: 0.5rem;
  }
  
.span{
  margin-left: 2rem;
 
}

.san{
  margin-left: 1rem;
 
}
.dropdown__item {
  cursor: pointer;
 padding: 10px ;
 padding-left:1px;
 text-align: left;
 list-style-type: none;
 font-family: 'Montserrat', sans-serif;
 color: rgb(143, 128, 128);
 font-size: 1rem;
}

.dropdown__text
{
  font-size: 1.1rem;
}

  }
  

@media screen and (max-width: 320px){
  
  .dropdown {
    position:relative;
    z-index: 10;
    width: 120px;
    border: 1px solid black;
    background: rgb(24, 23, 23);
   margin-left: 0.5rem;
  }
  
.span{
  margin-left: 2rem;
 
}

.san{
  margin-left: 1rem;
 
}
.dropdown__item {
  cursor: pointer;
 padding: 10px ;
 padding-left:1px;
 text-align: left;
 list-style-type: none;
 font-family: 'Montserrat', sans-serif;
 color: rgb(143, 128, 128);
 font-size: 1rem;
}

.dropdown__text
{
  font-size: 1rem;
}

  }
  